config/cdcs-secrets
config/mongo-secrets
config/postgres-secrets
config/redis-secrets
config/cdcs-config
init/superuser-secrets

**/.DS_Store
.idea/
*.pem

/helm-chart/Chart.lock
/helm-chart/values.*.yaml
/helm-chart/charts/*
